#main_title_text {
	position: fixed;
	top: 20px;
	left: 10px;
	text-align: left;
	font-size: 28px;
	letter-spacing: 3px;
	color: #303b4a;
}

#side_text {
	position: fixed;
	top: 20px;
	right: 10px;
	text-align: right;
	font-size: 0.9em;
	color: black;
	padding: 0px;
	margin-left:350px;
	line-height: 1.5em;
	letter-spacing: 0.2em;
}

#logo_frame {
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0px;
	height: 180px;
	padding: 20px 20px 0px 20px;
} 

#logo_frame p {
	font-size: 1.2em;
	color: black;
	position: absolute;
	top: 110px;
	left: 155px;
	right: 280px;
	text-align: left;
} 

#winfoss_block {
	position: absolute;
	overflow: auto;
	top: 250px;
	bottom: 30px;
	right: 20px;
	left: 150px;
	background: #eae7df;
	-moz-border-radius:8px; 
	padding: 5px 10px 0px 10px;
}

#winfoss_block h2 {
	color: #6d4c07;
	margin-bottom: 10px;
}

#winfoss_block h3 {
	margin-bottom: 10px;
	padding: 0 0 0 0; 
}

#winfoss_block p {
	font-size: 0.9em;
	margin: -4px 0 25px 0;
}

#winfoss_block p.foot {
	font-size: 0.8em;
	margin: 0px 20px 4px 10px;
}

#winfoss_block table {
	padding: 0 0 20px 20px;
}

img.front_shot {
	position: absolute;
	right: 10px;
	top: 25px;
	width: 225px;
	height: 170px;
	background-image: url(../img/shadow225.png);
	padding: 5px 15px 15px 5px;
	float: right;
}

a.ubuntu_info { position:absolute; text-decoration: none; }
a.ubuntu_info span { display: none; text-decoration: none; }

/*the span will display just on :hover state*/
a.ubuntu_info:hover span { 
    display:block;
    position:absolute;
	border: 2px solid #534d3f;
	color: black;
	background: LightGoldenRodYellow;
	-moz-border-radius:8px; 
	-moz-opacity: 0.80;
    top: 165px; 
	left: 130px; 
	width: 280px;
	padding: 5px;
	letter-spacing: 0.1em;
    text-align: left;
	text-decoration: none;
}

#logo_frame a.ubuntu_info img.big_logo { 
	position: absolute;
	margin-left: 0px;
}


/*
#winfoss_block { border: 1px blue solid; } 
#winfoss_block td { border: 1px blue solid; } 
img.small { border: 1px red solid; }
#winfoss_block p a { border: 1px blue solid; } 
img.fade_top { border: 1px red solid; }
img.fade_btm { border: 1px red solid; }
#logo_frame p { border: 1px green solid; }
#logo_frame { border: 1px red solid; } 
td { border: 2px solid green; }
*/


